<div class="alarmas-container">
    <!-- Header -->
    <header class="home-header">
      <div class="header-left">
        <img src="/assets/logo.png" alt="Logo" class="logo">
        <h2>SmartWeather</h2>
      </div>
      <button class="menu-button" (click)="toggleMenu()">☰</button>
    </header>

    <!-- Barra de navegación (oculta por defecto) -->
  <nav class="side-menu" [class.open]="menuOpen">
    <ul>
      <li><a (click)="alarmasactivas()">Alarmas activas</a></li>
      <li><a (click)="configuracion()">Configuración</a></li>
      <li><a (click)="sesiones()">Dispositivos</a></li>
    </ul>
  </nav>

    <h2>Alarmas Activas</h2>
    <!-- Sección de Alarmas Activas -->
    <section class="alarmas-activas">
      
      <table class="alarmas-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Hora</th>
            <th>Frecuencia</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alarma of alarmas">
            <td>{{ alarma.nombre }}</td>
            <td>{{ alarma.hora }}</td>
            <td class="cajitafrecuencia">
              <div class="frecuencia">
                <span *ngFor="let dia of alarma.frecuencia">{{ dia }}</span>
              </div>
            </td>
            <td>
              <mat-slide-toggle
                [(ngModel)]="alarma.estado"
                (change)="toggleAlarma(alarma)">
              </mat-slide-toggle>
            </td>
            <td>
              <button class="delete-button" (click)="eliminarAlarma(alarma)"><img src="/assets/delete.png" alt="Logo" class="logo"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  
