$color1_oscuro: #080A17;
$color1: #0F132E;
$color1_claro: #3D4272;

$color2_oscuro: #0C1330;
$color2: #19274E;
$color2_claro: #4B5C91;

$color3_oscuro: #2A3A4B;
$color3: #536D88;
$color3_claro: #95AEC6;

$color4_oscuro: #5F5143;
$color4: #B49B85;
$color4_claro: #E6D6C6;

$color5_oscuro: #755E48;
$color5: #EAC195;
$color5_claro: #F6E4D0;