<div class="home-container">
    <!-- Header -->
    <header class="home-header">
      <h2>SmartWeather</h2>
      <span class="location">Bogotá, Colombia 📍</span>
      <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    </header>

    <!-- Sección de Clima Actual -->
    <section class="weather-info">
      <h1>20°C</h1>
      <p>Nublado</p>
      <p>Máx.: 20° Mín.: 11°</p>
      <p>Formación de tormentas eléctricas por la tarde. Vientos del O de 10 a 15 km/h. 40% prob. de lluvia.</p>
    </section>

    <!-- Pronóstico Semanal -->
    <section class="weekly-forecast">
      <div class="day">
        <span>Lunes</span>
        <span>11°</span>
        <input type="range" min="11" max="20" value="15">
        <span>20°</span>
      </div>
      <div class="day">
        <span>Martes</span>
        <span>12°</span>
        <input type="range" min="12" max="20" value="16">
        <span>20°</span>
      </div>
      <div class="day">
        <span>Miércoles</span>
        <span>11°</span>
        <input type="range" min="11" max="19" value="15">
        <span>19°</span>
      </div>
      <div class="day">
        <span>Jueves</span>
        <span>11°</span>
        <input type="range" min="11" max="19" value="15">
        <span>19°</span>
      </div>
      <div class="day">
        <span>Viernes</span>
        <span>11°</span>
        <input type="range" min="11" max="20" value="16">
        <span>20°</span>
      </div>
    </section>

    <!-- Mapa -->
    <section class="weather-map">
      <img src="/assets/mapa.png" alt="Mapa del clima">
    </section>

    <div class="overlay" id="overlay" (click)="toggleMenu()"></div>

        <!-- Menú Lateral -->
        <nav class="sidebar" id="sidebar">
          <ul>
              <li>
                  <span>Alarmas</span>
                  <ul>
                      <li>Cargar Alarmas</li>
                      <li>Alarmas activas</li>
                  </ul>
              </li>
              <li>
                  <span>Reportes</span>
                  <ul>
                      <li>Historico de alarmas</li>
                      <li>Historico de clima</li>
                  </ul>
              </li>
              <li (click)="configuracion()">
                  Configuracion
              </li>
              <li (click)="activarSesion()">Dispositivos</li>
            <li  (click)="confirmLogout()">Cerrar sesión</li>
          </ul>
      </nav>

  </div>
