@use "../colors" as c;

h2 {
  cursor: pointer;
}

// Fondo principal
.home-container {
  background-color: c.$color3_oscuro;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 80px;

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 60px;
    margin-right: 5px;
  }

  h2 {
    font-size: 42px;
    font-weight: 550;
    color: white;
  }

  .menu-button {
    position: absolute; // Para que no se vea tapado
    top: 20px;
    right: 20px;
    z-index: 1100; // Más alto que el menú para que esté por encima
    background: none;
    border: none;
    font-size: 54px;
    color: c.$color5;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

}

// Encabezado
.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

// Sección de Clima
.weather-info {
  text-align: left;
  max-width: 800px;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

// Pronóstico Semanal
.weekly-forecast {
  background-color: c.$color1;
  padding: 1rem;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  .day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    span {
      font-size: 18px;
    }
    input[type="range"] {
      flex-grow: 1;
      margin: 0 10px;
    }
  }
}

.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.sidebar {
  width: 250px;
  background-color: #2A3A4B;
  padding: 15px;
  position: fixed;
  right: -250px;
  top: 0;
  height: 100%;
  transition: right 0.3s;
  z-index: 1000;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar ul li ul {
  list-style-type: none;
  padding-left: 20px;
}

// Fondo semitransparente
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.sessions-table {
  width: 95%;
  margin: auto;
  text-align: center;

  .custom-table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #19274E;
      color: white;
      padding: 10px;
    }

    tr:nth-child(1) {
      background-color: #EAC195;
    }

    tr:nth-child(2) {
      background-color: #F6E4D0;
    }

    tr:nth-child(3) {
      background-color: #EAC195;
    }

    td {
      padding: 10px;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
